In [47]:
import quandl

In [48]:
import pandas as pd
import math

In [49]:
df = pd.read_excel('D:/beer.xlsx')
df.head()

         brand  week  Gallons_Sold      price  line_ad  display
0   budweiser      1        4.3611  14.388849        0        0
1   budweiser      2        6.5000  15.376520        0        0
2   budweiser      3        6.7500  15.171852        1        0
3   budweiser      4        5.9991        NaN        0        0
4   budweiser      5        3.0000  15.104405        1        0

In [50]:
df1 = df[['price']]

In [51]:
df.head()

         brand  week  Gallons_Sold      price  line_ad  display
0   budweiser      1        4.3611  14.388849        0        0
1   budweiser      2        6.5000  15.376520        0        0
2   budweiser      3        6.7500  15.171852        1        0
3   budweiser      4        5.9991        NaN        0        0
4   budweiser      5        3.0000  15.104405        1        0

In [52]:
df1['Revenue'] = df['price']*df['Gallons_Sold']
df1.head()
df1.mean()

C:\Users\Aayush\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

price      14.091476
Revenue    38.219347
dtype: float64

In [53]:
forecast_col = 'price'
df1.fillna(df1.mean(), inplace = True)
df1.head()

C:\Users\Aayush\Anaconda3\lib\site-packages\pandas\core\generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

       price     Revenue
0  14.388849   62.751212
1  15.376520   99.947379
2  15.171852  102.410000
3  14.091476   38.219347
4  15.104405   45.313215

In [54]:
forecast_out = int(math.ceil(0.1*len(df1)))
print(forecast_out)
len(df1)

41

406

In [55]:
df1['label'] = df1[forecast_col].shift(-forecast_out)
df1.head()
writer = pd.ExcelWriter('D:/output.xlsx')
df1.to_excel(writer,'Sheet1')
writer.save()

C:\Users\Aayush\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
df1.tail()

         price    Revenue  label
401  10.060737  20.959533    NaN
402  10.126465  10.970000    NaN
403  11.759104   0.979533    NaN
404  11.759104   0.979533    NaN
405  10.027827  15.041740    NaN

In [57]:
X_lately = df1.drop(['label'],1)
X_lately = X_lately[-forecast_out:]
print(X_lately.head())
print(X_lately.tail())

         price    Revenue
365  10.029098  40.116393
366  10.261171  11.115927
367  10.208035  16.162381
368  10.072270  50.361352
369  10.140435  27.040483
         price    Revenue
401  10.060737  20.959533
402  10.126465  10.970000
403  11.759104   0.979533
404  11.759104   0.979533
405  10.027827  15.041740

In [58]:
df1.dropna(inplace = True)
df1.tail()

C:\Users\Aayush\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

         price    Revenue      label
360  10.066061  52.287149  10.060737
361  10.143250  21.131432  10.126465
362  10.020345  55.111899  11.759104
363  10.093547  31.121432  11.759104
364  10.099636  31.140209  10.027827

In [59]:
import numpy as np
X = np.array(df1.drop(['label'],1))
#X = np.array(df1[forecast_col])
y = np.array(df1['label'])

In [60]:
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression

In [61]:
X = preprocessing.scale(X)

In [62]:
print(len(X), len(y))

365 365

In [63]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size = 0.2)

In [64]:
clf = LinearRegression(n_jobs = -1)

In [65]:
print(len(X_train), len(y_train))
print(len(X_test), len(y_test))

292 292
73 73

In [66]:
clf.fit(X_train, y_train)
import pickle

In [67]:
accuracy = clf.score(X_test, y_test)
accuracy

0.32943868431859424

In [68]:
forecast_set = clf.predict(X_lately)

In [69]:
print(forecast_set, "\n Number of Days", forecast_out,"\n Accuracy Percentage", round(accuracy*100,2))

[ 55.67193621  40.9464576   43.48247536  61.13313337  49.04628944
  61.49774773  56.1798235   48.34318136  45.7079877   45.7079877
  64.02816646  56.09730976  48.45772679  58.60550413  50.89538287
  56.07875821  50.93454439  38.15526282  53.52579767  43.36072339
  50.87146521  38.19190204  45.67762307  50.87146521  42.00192793
  42.8993773   55.75139551  49.3856404   38.73316722  37.15222338
  53.58205972  43.09251656  40.0014955   48.26362964  58.28993664
  45.69280538  45.69280538  40.59102431  38.73316722  38.73316722
  42.52174699]
 Number of Days 41
 Accuracy Percentage 32.94

In [70]:
%matplotlib inline

In [71]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (10,10)

In [72]:
from matplotlib import style
style.use('ggplot')

In [73]:
#### K-neighbours Clustering on Breast Cancer Data

In [74]:
from sklearn import neighbors

In [75]:
df = pd.read_csv('D:/breast-cancer-wisconsin.txt')

In [76]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adh,single_epith,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [77]:
#Removing Nulls denoted as ? in this dataset
df.replace('?',-99999, inplace= True)

In [78]:
df.isnull().sum()

id                 0
clump_thickness    0
unif_cell_size     0
unif_cell_shape    0
marg_adh           0
single_epith       0
bare_nuclei        0
bland_chrom        0
norm_nucleoli      0
mitoses            0
class              0
dtype: int64

In [79]:
df.drop(['id'],1, inplace = True)
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adh,single_epith,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [80]:
x = np.array(df.drop(['class'],1))

In [81]:
y = np.array(df['class'])

In [82]:
x_train, x_test, y_train, y_test = cross_validation.train_test_split(x, y, test_size = 0.2)

In [84]:
clf = neighbors.KNeighborsClassifier()

In [86]:
clf.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [87]:
accuracy = clf.score(x_test, y_test)

In [ ]:
print(accuracy)